BuenosAiresCSharp/BuenosAires.VentaBA/Connected Services/ServicioValidarLogin/ServicioValidarLogin2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4795/ServicioValidarLogin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ValidarLoginEscritorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipousu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLoginEscritorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ValidarLoginEscritorioResult" nillable="true" type="q1:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>